@import "config";

.offer {
  background-color: $color-bg;

  padding: 0 20px;

  &__wrapper {
    &__content {
      > h2 {
        @include font-primary-medium-italic;

        font-size: 42px;
      }

      > p {
        font-family: $font-family-primary;
        font-weight: $font-weight-small;
        color: $color-gray;

        line-height: 25px;
      }
    }

    > button {
      font-family: $font-family-primary;
      background-color: $color-blue;
      color: $color-white;
      font-weight: $font-weight-medium;

      font-size: 20px;
      font-weight: 600;
      padding: 12px 33px;
      border: none;
      border-radius: 30px;
    }
  }

  &__card {
    padding: 40px 0;

    &__content {
      > p {
        font-family: $font-family-primary;
        font-weight: $font-weight-small;

        font-size: 16px;
        margin: 0;
      }

      > h2 {
        font-family: $font-family-primary;
        font-size: 20px;
      }

      &.blue {
        > p {
          color: $color-blue;
        }

        > img {
          width: 160px;
        }
      }

      &.blue:hover {
        cursor: pointer;
        transition: transform 0.5s;
        transform: scale(1.1);

        > h2 {
          color: $color-blue;
        }
      }

      &.orange {
        > p {
          color: $color-orange;
        }

        > img {
          width: 275px;
        }
      }

      &.orange:hover {
        cursor: pointer;
        transition: transform 0.5s;
        transform: scale(1.1);

        > h2 {
          color: $color-orange;
        }
      }

      &.green {
        > p {
          color: $color-green;
        }

        > img {
          width: 250px;
        }
      }

      &.green:hover {
        cursor: pointer;
        transition: transform 0.5s;
        transform: scale(1.1);

        > h2 {
          color: $color-green;
        }
      }

      &__icon {
        > img {
          width: 40px;
        }
      }

      > img {
        padding-top: 20px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .offer {
    padding: 80px 210px;

    &__wrapper {
      display: flex;
      justify-content: space-between;

      > button {
        height: fit-content;
      }

      &__content {
        width: 50%;

        > h2 {
          font-size: 90px;
          margin: 0;
        }

        > p {
          font-size: 20px;
        }
      }
    }

    &__card {
      display: flex;
      justify-content: space-between;

      &__content {
        width: 30%;
      }
    }
  }
}
