@import "config";

.our-expertise {
  background-color: $color-blue;
  padding: 100px 0;

  > h2 {
    color: $color-white;
    font-family: $font-family-secondary;

    margin: 0;
    padding: 0 20px 50px;
    font-size: 48px;
  }
  &__wrapper {
    position: relative;
    padding: 40px 0;

    &__left-to-right {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      animation: rightToLeft 25.5s linear infinite alternate;

      @keyframes rightToLeft {
        100% {
          transform: translateX(calc(-100% + 100vw - 40px));
        }
      }

      > span {
        color: $color-white;

        padding-left: 30px;
        font-size: 32px;
        white-space: nowrap;
      }
    }

    &__right-to-left {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;

      animation: leftToright 25.5s linear infinite alternate;

      @keyframes leftToright {
        0% {
          transform: translateX(calc(-100% + 100vw - 40px));
        }
      }

      > span {
        color: $color-white;

        padding-left: 30px;
        font-size: 32px;
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .our-expertise {
    &__wrapper {
      &.first {
        display: none;
      }

      &.second {
        display: none;
      }
    }
  }
}
