@import "heroSection";
@import "config";
@import "clients";
@import "about-us";
@import "offer";
@import "clients-word";
@import "here-us";
@import "join-our-team";
@import "gallery";
@import "our-expertise";
@import "contact";
@import "footer";
@import "home-image";
@import "modal";
@import "menu";
@import "top-progress-bar";

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

button {
  cursor: pointer;
}
